<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have persmission to view this resource</h6>
    <img src="~/img/Sad Emoji.png" style="height:427px; width:375px" />
</div>